body{
    background: #eee;
    font-size: 14px;
}
#find_wrapper{
    margin-top:20px;
}
#find_wrapper .container{
    padding: 0px;
    border-radius: 2px;
    box-shadow: 0px 0px 2px #adadad;
}
.find_title{
    position: relative;
    width: 100%;
    height: 150px;
    margin: 0px;
    padding: 0px;
    background: #3EABB8;
}
.find_title h1{
    position: absolute;
    bottom:0px;
    left:0px;
    padding:0.4em;
    color: rgba(0, 0, 0, 0.6);
    font-size: 1.6em;
}
.find_detail{
    margin: 0px;
    padding:0.6em;
    background: #fff;
}
.find_detail span{
    color: rgba(0, 0, 0, 0.7);
    display: block;
}
.find_detail input{
    width:100%;
    margin-bottom: 10px;
    border: none;
    border-bottom:2px solid #adadad;
}